.CheckboxSingle__container, .CheckboxSingle__option {
  position: relative;
}

.CheckboxSingle__container.CheckboxSingle__container--error .CheckboxSingle__option {
  color: var(--color-error) !important;
}

.CheckboxSingle__container.CheckboxSingle__container--warning .CheckboxSingle__option {
  color: var(--color-warning) !important;
}
