.Rate__container {
  position: relative;
}

.Rate__container .ant-rate {
  width: 100%;
}

.Rate__container.Rate__container--error {
  color: var(--color-error) !important;
}

.Rate__container.Rate__container--warning {
  color: var(--color-warning) !important;
}
