.Radio__container.Radio__container--error .Radio__option {
  color: var(--color-error) !important;
}

.Radio__container.Radio__container--error .Radio__option .ant-radio-inner {
  border-color: var(--color-error) !important;
}

.Radio__container.Radio__container--error .Radio__option.ant-radio-wrapper-checked .ant-radio-inner {
  background-color: var(--color-error) !important;
}

.Radio__container.Radio__container--warning .Radio__option {
  color: var(--color-warning) !important;
}

.Radio__container.Radio__container--warning .Radio__option .ant-radio-inner {
  border-color: var(--color-warning) !important;
}

.Radio__container.Radio__container--warning .Radio__option.ant-radio-wrapper-checked .ant-radio-inner {
  background-color: var(--color-warning) !important;
}
